# Virtual environment
env/

# Python bytecode
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Streamlit
.streamlit/secrets.toml
*.DS_Store

# Anotasi hasil user (jangan ikut push)
feedback_dataset/images/
feedback_dataset/labels/

# Model (biar auto-download saja)
yolov8n.pt
yolov8n.pt

saved/